<ion-view>
  <ion-content class="padding">
    <div class="brand2">
    	<img src="img/logo.png" alt="Cars logo">
    
    <div class="tagline">Road Therapy</div>
    <p class="maintext">
		The perfect service for you with a wide range of vehicles for you to move around. Located in the town of Famagusta <br/>
    <h3>Note</h3>
    <ul class="my-list">
      <li>insuarance is provided for drivers holding only a turkish licence.</li>
      <li>Prices may vary according to season and time. Please check your app for updates</li>
      <li> Please check your app for updates</li>
      <li>This app is solely an interface to our parking lot, it will be updated accordingly</li>
      <li>This service requires an internet connection to provide accurate information</li>

    </ul>
    
    <h3>Contact Us</h3>
		+90 (533) 855 1005<br/>
		+90 (533) 854 1006
    <p>
    </div>
  </ion-content>
</ion-view>