
<ion-tabs class="tabs-assertive tabs-icon-bottom">
	
	<ion-tab title="Home" icon="ion-home" href="#/tab/home">
		
		<ion-nav-view name="home-tab" animation="slide-left-right">
		  <!-- Center content -->
		</ion-nav-view>
	</ion-tab>

	<ion-tab title="Cars" icon="ion-ios-speedometer" href="#/tab/list">
		
		<ion-nav-view name="list-tab" animation="slide-left-right">
		  <!-- Center content -->
		</ion-nav-view>
	</ion-tab>


	<ion-tab title="About Us" icon="ion-android-contacts" href="#/tab/aboutUs">
		
		<ion-nav-view name="aboutUs-tab" animation="slide-left-right">
		  <!-- Center content -->
		</ion-nav-view>
	</ion-tab>

</ion-tabs>

